<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user  %>
    <h1><%= current_user.user_name %><h2>
    <% end  %>
    <%= yield %>
    <% if current_user %>
    <form action=" <%= session_url %> " method="post">
      <input type="hidden" name="_method" value="delete">

      <input type="submit" value="log out">
    </form>
    <% end %>
  </body>
</html>
